## Python connect to MySQL with XAMPP

> https://stackoverflow.com/questions/372885/how-do-i-connect-to-a-mysql-database-in-python


> https://stackoverflow.com/questions/25865270/how-to-install-python-mysqldb-module-using-pip
### pip install mysqlclient
### Ubuntu 14, Ubuntu 16, Debian 8.6 (jessie)
### sudo apt-get install python-pip python-dev libmysqlclient-dev

In [2]:
import MySQLdb

db = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
                     user="root",         # your username
                     passwd="",           # your password
                     db="testdb")         # name of the data base



# you must create a Cursor object. It will let
#  you execute all the queries you need
cur = db.cursor()

# Use all the SQL you like
cur.execute("SELECT * FROM table_1")      # your table

# print all the first cell of all the rows
for row in cur.fetchall():
    print(row[0], row[1], row[2], row[3], row[4])

db.close()

Jessica 21 155 55 good
Charlene 51 160 70 tired
Johnson 25 170 60 sleepy
Money 55 175 80 not bad

- ### The format string is not really a normal Python format string. You must always use %s for all fields.
> https://stackoverflow.com/questions/5785154/python-mysqldb-issues-typeerror-d-format-a-number-is-required-not-str


- ### Database does not update automatically with MySQL and Python
> Call conn.commit() before calling close
    
    > https://stackoverflow.com/questions/384228/database-does-not-update-automatically-with-mysql-and-python

In [30]:
import MySQLdb

conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
                     user="root",         # your username
                     passwd="",           # your password
                     db="testdb")         # name of the data base



# you must create a Cursor object. It will let
#  you execute all the queries you need
cur = conn.cursor()

# Use all the SQL you like
cur.execute("""INSERT INTO table_1 (name, age, height, weight, personal_status) 
                VALUES (%s, %s, %s, %s, %s)""", ('grandpa', 85, 170, 60, 'good'))      # your table
cur.execute("SELECT * FROM table_1")      # your table

# print all the first cell of all the rows
for row in cur.fetchall():
    print(row[0], row[1], row[2], row[3], row[4])

conn.commit()    
cur.close()
conn.close()

Jessica 21 155 55 good
Charlene 51 160 70 tired
Johnson 25 170 60 sleepy
Money 55 175 80 not bad
grandpa 85 170 60 good

In [76]:
import MySQLdb
import pandas as pd

conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
                     user="root",         # your username
                     passwd="",           # your password
                     db="testdb")         # name of the data base



# you must create a Cursor object. It will let
#  you execute all the queries you need
cur = conn.cursor()


# --------------------------------------------------------
# 因為我在 conn 指定 db = "testdb" 了，所以接下來都在那個table發生
# 注意事項 : 不能全部一起執行，不然喔，像現在已經新增table : table_2018_06_20，又重複一次新增table指令的話，他就說因為重複所以錯誤!
# --------------------------------------------------------

# Use all the SQL you like
# ---------------------------- 1. create table ----------------------------
cur.execute("""create table table_2018_06_20 (name text, 
                                              working_status text, 
                                              age integer,
                                              arrival_time integer);""")

# ---------------------------- 2. add / modify / drop column ----------------------------
# --- add ---
cur.execute("""alter table table_2018_06_20 
               add personal_improvement text;""")
# --- drop column ---
cur.execute("""alter table table_2018_06_20 
               drop column personal_improvement;""")

# ---------------------------- 3. insert row into table ----------------------------
# --- 第 1 種寫法 ---
cur.execute("""INSERT INTO table_2018_06_20 (name, working_status, age, arrival_time) 
                VALUES ('Elly', 'soso', 35, 910);""", )
# --- 第 2 種寫法 ---
cur.execute("""INSERT INTO table_2018_06_20 (name, working_status, age, arrival_time) 
                VALUES (%s, %s, %s, %s);""", ('Jun', 'great', 40, 900))
cur.execute("""INSERT INTO table_2018_06_20 (name, working_status, age, arrival_time) 
                VALUES (%s, %s, %s, %s);""", ('Gail', 'great', 30, 900))
cur.execute("""INSERT INTO table_2018_06_20 (name, working_status, age, arrival_time) 
                VALUES (%s, %s, %s, %s);""", ('kaka', 'not bad', 27, 855))
cur.execute("""INSERT INTO table_2018_06_20 (name, working_status, age, arrival_time) 
                VALUES (%s, %s, %s, %s);""", ('js', 'good', 25, 855))
cur.execute("""INSERT INTO table_2018_06_20 (name, working_status, age, arrival_time) 
                VALUES (%s, %s, %s, %s);""", ('johnathon', 'soso', 21, 905))

# ---------------------------- 4. edit row ----------------------------
# --- 第 1 種寫法 ---
cur.execute("""update table_2018_06_20 
               set age = 60
               where name = 'Elly';""")
# --- 第 2 種寫法 ---
cur.execute("""update table_2018_06_20 
               set age = %s
               where name = %s;"""
               ,(24, 'js'))

# ---------------------------- 5. delete row ----------------------------
cur.execute("""delete from table_2018_06_20 
               where name = 'Elly';""")

# ---------------------------- 6. select distinct() ; as ...  
# where like '%...%'或'se____en' / is (not) null / between ... and ... : 數字是 : [ , ] 但文字(像英文字母)是 : [ , ) 要特別注意!----------------------------





columns_of_table = cur.execute("""SELECT COUNT(*)
                                  FROM INFORMATION_SCHEMA.COLUMNS
                                  WHERE table_catalog = 'testdb' 
                                  AND table_name = 'table_2018_06_20'""") 


cur.execute("SELECT * FROM table_2018_06_20")      # your table


# print all the first cell of all the rows
for row in cur.fetchall():
    print(row[0], row[1], row[2], row[3])

# for row in cur.fetchall():
#     for i in range(0, 4):
#         print(row[i])

# print(cur.fetchall())

conn.commit()    
cur.close()
conn.close()

Jun great 40 900
Gail great 30 900
kaka not bad 27 855
js good 24 855
johnathon soso 21 905
Elly soso 60 910

## python xlsx to SQL

## 從python下指令去創SQL 某DB的table

> https://blog.csdn.net/qq_34510308/article/details/71678905

> https://mherman.org/blog/import-data-from-excel-into-mysql-using-python/


Importing data from an excel file using python into SQL Server

https://stackoverflow.com/questions/51268991/importing-data-from-an-excel-file-using-python-into-sql-server

https://www.youtube.com/watch?v=YLXFEQLCogM



## How do I read a date in Excel format in Python?
>https://stackoverflow.com/questions/1108428/how-do-i-read-a-date-in-excel-format-in-python

>import datetime, xlrd

>book = xlrd.open_workbook("myfile.xls")

>sh = book.sheet_by_index(0)

>a1 = sh.cell_value(rowx=0, colx=0)

>a1_as_datetime = datetime.datetime(*xlrd.xldate_as_tuple(a1, book.datemode))

>print 'datetime: %s' % a1_as_datetime

In [97]:
import MySQLdb
import pandas as pd
import xlrd
from datetime import datetime


conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
                     user="root",         # your username
                     passwd="",           # your password
                     db="inv_test_db",    # name of the data base         
                     use_unicode=True, 
                     charset="utf8")


# you must create a Cursor object. It will let
#  you execute all the queries you need
cur = conn.cursor()


# # conn.set_character_set('utf8')
# # cur.execute('SET NAMES utf8;')
# # cur.execute('SET CHARACTER SET utf8;')
# # cur.execute('SET character_set_connection=utf8;')


# inv_df = pd.read_excel("C:/Users/johnson_huang.EOL/Desktop/123456789.xlsx")

# # Use all the SQL you like
# # cur.execute("insert into meacthdata(invDate, invNum, xdid, 品牌, 系列(一匙靈專用), 處理與否, 總容量) values(%s,%s,%s,%s, %s, %s, %s)",[inv_df["invDate"], inv_df["invNum"], inv_df["xdid"], inv_df["品牌"], inv_df["系列(一匙靈專用)"], inv_df["處理與否"], inv_df["總容量"]])


# # cur.execute("""INSERT INTO 1 (日期, 發票編號, 裝置編號, 品牌, 系列(一匙靈專用), 處理與否, 總容量) 
# #                 VALUES (%s, %s, %s, %s, %s, %s, %s);""", (inv_df["invDate"], inv_df["invNum"], inv_df["xdid"], inv_df["品牌"], inv_df["系列(一匙靈專用)"], inv_df["處理與否"], inv_df["總容量"]))



# # cur.execute("""INSERT INTO 1 (品牌) 
# #                 VALUES (%s);""", ("橘子工坊"))




# # cur.execute("""INSERT INTO table_1 (日期, 發票編號, 裝置編號, 品牌) 
# #                VALUES (%s, %s, %s, %s);""", ("2018-10-01", "W3", "WETD", "橘子工坊"))



# cur.execute("""INSERT INTO table_1 (日期, 發票編號, 裝置編號, 品牌) 
#                VALUES (%s, %s, %s, %s);""", (inv_df["invDate"], inv_df["invNum"], inv_df["xdid"], inv_df["品牌"]))



# # sql = "INSERT INTO 12 (日期, 發票編號, 裝置編號, 品牌)  VALUES (%s, %s, %s, %s)"
# # val = ("2018-10-01", "WDFG3", "WETFDHmD", "橘子工坊")
# # cur.execute(sql, val)


# # cur.execute("""INSERT INTO table_1 (裝置編號, 品牌) 
# #                VALUES (%s, %s);""", ("WES234", "橘子工坊"))






# book = xlrd.open_workbook("C:/Users/johnson_huang.EOL/Desktop/123456789.xlsx")
# sheet = book.sheet_by_name("工作表1")



# --------------------------------------------------------------------------- 
# book = xlrd.open_workbook("C:/Users/johnson_huang.EOL/Desktop/12345678910.xlsx")
# sheet = book.sheet_by_name("工作表1")



# query = """INSERT INTO table_2 (日期, 發票編號, 裝置編號, 品牌) VALUES (%s, %s, %s, %s)"""

# # Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
# for r in range(1, sheet.nrows):
#     日期= sheet.cell(r,4).value
#     發票編號= sheet.cell(r,2).value
#     裝置編號= sheet.cell(r,3).value
#     品牌= sheet.cell(r,30).value


#     # Assign values from each row
#     values = (日期, 發票編號, 裝置編號, 品牌)

#     # Execute sql Query
#     cur.execute(query, values)


    
# --------------------------------------------------------------------------- 

book = xlrd.open_workbook("C:/Users/johnson_huang.EOL/Desktop/12345678910.xlsx")
sheet = book.sheet_by_name("工作表1")


# inv_df = pd.read_excel("C:/Users/johnson_huang.EOL/Desktop/12345678910.xlsx")


query = """INSERT INTO table_2 (日期, 發票編號, 裝置編號, 品牌) 
                VALUES (%s, %s, %s, %s);"""#, (inv_df["invDate"], inv_df["invNum"], inv_df["xdid"], inv_df["品牌"], inv_df["系列(一匙靈專用)"], inv_df["處理與否"], inv_df["總容量"])

# a1 = sh.cell_value(rowx=0, colx=0)
# a1_as_datetime = datetime.datetime(*xlrd.xldate_as_tuple(a1, book.datemode))

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
    日期= datetime(*xlrd.xldate_as_tuple(sheet.cell(r,4).value, book.datemode)) 
    發票編號= sheet.cell(r,2).value
    裝置編號= sheet.cell(r,3).value
    品牌= sheet.cell(r,30).value


    # Assign values from each row
    values = (日期, 發票編號, 裝置編號, 品牌)

    # Execute sql Query
    cur.execute(query, values)




conn.commit()    
cur.close()
conn.close()

In [104]:

conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
                     user="root",         # your username
                     passwd="",           # your password
                     db="inv_test_db",    # name of the data base         
                     use_unicode=True, 
                     charset="utf8")


# you must create a Cursor object. It will let
#  you execute all the queries you need
cur = conn.cursor()

cur.execute("SELECT * FROM table_2") 

result = cur.fetchall()
# 看有幾欄就到row幾
for row in result:
    print(row[0], row[1], row[2], row[3])
  


cur.close()
conn.close()

None VQ65951822 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VQ65951754 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VT22414486 AX4EcA4HCnkdCgoDCxUEBwFzHgABAgsdAXl0dX4ICgBzd3sD P&G-Bold
None YA64703756 AA1zCgsEAn4dAn4IBRUEAAl2Hnp1AAgdcHpydgxxBXsEdgh0 清淨海
None TE99208883 Ag8CUloJBV4dAwAAChUEUVkEHgFUUAkdUQAJCgwIAQFWAwoG 小綠人
None VB13398862 cA8ECg1yBQgdcA10cRUEBQsJHnl0dX4dCgB1BnoJcnwABAAI P&G-Ariel
None TZ82333689 BXxyBAFyCw0dcQ8DABUEdQ9xHnoGdw8dCgEDcQl0BQF1cHt2 Persil
None VQ65951833 A1xUBV5UAQodBA8JChUEBwkCHgAFAgEdCgsGBwsGA11RClpV 清淨海
None VP12086961 BHkJBQBzBw0dAgwFdxUEAA92HgAGBgodAn4ABgl1Bg0Fd3t2 家樂福_PL
None VF02226610 cQ91AHkAdgsdBHoIBRUEcXt1HnlyAg8dcggHBHlxAg92BH5z P&G-Bold
None SV31008084 UV0ABwwIVgkdUFkIAhUEAg4EHllWBVsdVwhRVQ0FBlxVC1pU 橘子工坊
None VF29837622 AQECdgwDCwAddXsCcRUEAA9zHgEBBg4dAnp2cAFxAw8JCn0C 橘子工坊
None WH91854712 AAsDUAxTBlsdVglSARUEUA4EHloJUlsdAl5SB1oEVwBRV1kH P&G-Bold
None TJ45532653 VQEAAg0IUVwdUgAICxUEBQsEHgFRClwdAFxTVQ4ICgtSAgpV 毛寶整體
None WH91854712 AAsDUAxTBlsdVglSARUEUA4EHloJUlsdAl5SB1oEVwBRV1kH P&G-Bold
None XW58735684 cQ1zCn0JcH0dCg0BAxUEcAoAHnoCcQgddQ1xBg4IBQhzAgkD P&G-Bold
None XG34287846 UAhUAl5RVQgdUgpVABUEAAoGHllUVQgdVwFTBgxUC10HBgsE DN
None YL39551448 Cl4HV1kHAFsdBwBTBBUEC15UHgAGVQEdUQkFAA9WBQ0HAgEC DN
None YL39553196 UAhUAl5RVQgdUgpVABUEAAoGHllUVQgdVwFTBgxUC10HBgsE DN
None UU58697179 AH5yCgACAw0dcQkAARUEdn5xHgABdXkdAwB0dwwBCwB2cgEG DN
None SB90777909 AXlxB3kBdgwddgsHcRUEcAAEHgAEBAsdAwEFAAEFAA0Ed3oJ 日本獅王
None SB90777909 AXlxB3kBdgwddgsHcRUEcAAEHgAEBAsdAwEFAAEFAA0Ed3oJ 日本獅王
None SB90843466 Agp2Ag0BcgEdBAgBBRUEdw1yHnkIcHsdBg50dnsGBwECCnxz 一匙靈整體
None SB90843466 Agp2Ag0BcgEdBAgBBRUEdw1yHnkIcHsdBg50dnsGBwECCnxz 一匙靈整體
None SB90890194 Bg10dX0AcA8dAg4DCxUEcg9zHgBydwEddQ4JAAADCwEIAQ10 白蘭
None SB90890194 Bg10dX0AcA8dAg4DCxUEcg9zHgBydwEddQ4JAAADCwEIAQ10 白蘭
None SB90913370 cAwEAQtyBQwdcgEFBBUECg12HgEIAwkdd3x1dwx0BAxxcn50 奈米樂
None SB90915125 CnwEdXpyBAsdBAwDdxUEBQADHgB0Cw0dAg11dQwEcQ1zcQ4G 一匙靈整體
None TP40519199 dwkCAQtyAHodCgF2dxUEcAwBHgF1BHodBgkDdwgDAHtxAA0E DN
None SB90944862 cQEGdnkIBg8dAQpxAhUEdnl2HgEGdQ4dcXsACgoGcntydgAE 一匙靈整體
None XF43995603 dQgFcXp1BXkdAg4HcRUEBA8DHgEJdg8dcgsEcA8HBQpzdgkF DN
None SB90966273 BwF0Cn4JcnodAnl2AhUEBg0IHgEJAg4dBQtxCg0JBAwCcghz 白蘭
None SB90966273 BwF0Cn4JcnodAnl2AhUEBg0IHgEJAg4dBQtxCg0JBAwCcghz 白蘭
None UH14455892 BXoAdwhyA3wdcgEFAhUECnkCHgEIdXodcAgDcAwHBwEDBw8F P&G-Ariel
None UH14455892 BXoAdwhyA3wdcgEFAhUECnkCHgEIdXodcAgDcAwHBwEDBw8F P&G-Bold
None SB90972391 cg51cAh0BnsdCn0BchUEdQ0HHgFyCwAdd3pzBg4CBQAJdwEH 一匙靈整體
None SB90990600 AwgAAwgAAwgdAwgAAxUAAwgAHggAAwgdAwgAAwgAAwgAAwgA 一匙靈整體
None YA64688896 C34CBXpzAAAdBX4BBBUEdgp2Hnp2BHodAw0DcgEDBwAJAwAD 清淨海
None SB90997666 dwlxAQ4JAA8dBX0DCxUEcXwDHnl0d3kdcA4Jdnt1Cntxcnt0 一匙靈整體
None XQ82201895 d34Hcnp2Aw8dA30ICxUEAQECHgACdXodCg1zBQgHBAsHdQ8I Tide
None XQ82201895 d34Hcnp2Aw8dA30ICxUEAQECHgACdXodCg1zBQgHBAsHdQ8I Tide
None SB90997666 dwlxAQ4JAA8dBX0DCxUEcXwDHnl0d3kdcA4Jdnt1Cntxcnt0 一匙靈整體
None YB77390646 C3x1BnwABgAdBnwJchUEBAx0HgEHBnoddXwCAwpxBXtzBXwI NAC NAC
None SB91004076 AH4Fdg1zAXoddnx1AhUEAnxxHnlxAwodBnsDcXx0cA0Fd310 一匙靈整體
None SB91004076 AH4Fdg1zAXoddnx1AhUEAnxxHnlxAwodBnsDcXx0cA0Fd310 一匙靈整體
None SB91094537 A3kIBwl0AggdAwtxAhUEBQgAHgEGAHodCgBzdwxxAXoECgEF 白蘭
None SB91094537 A3kIBwl0AggdAwtxAhUEBQgAHgEGAHodCgBzdwxxAXoECgEF 白蘭
None SB91096659 cnp1cgAECgEddwwGchUECgsGHnkEBnsdAn0JAAgDBX11dQ1z 一匙靈整體
None SB91110681 AgoIAg0HAQ8dBAkFdxUECgxyHnoJBnwddwoHcA10cH4HAH0G 一匙靈整體
None SB91172700 CloHBQwJVQ4dAgoBAhUEBgoCHgFUBVwdCgwFAlwEAQgEBQ4F 白蘭
None SB91172700 CloHBQwJVQ4dAgoBAhUEBgoCHgFUBVwdCgwFAlwEAQgEBQ4F 白蘭
None SB91231129 AQ0GAAAGAH0dcQAFdhUEdnt2HgACCgoddQgIBwkDdQ0Ednl2 一匙靈整體
None SB91231129 AQ0GAAAGAH0dcQAFdhUEdnt2HgACCgoddQgIBwkDdQ0Ednl2 一匙靈整體
None SU82407509 V1wGBl0EVQsdUQ0GARUEVQ1THgEIAQEdUgwAClsGUl5RBl5T Persil
None SB91271921 AQ0GAAAGAH0dcQAFdhUEdnt2HgACCgoddQgIBwkDdQ0Ednl2 一匙靈整體
None VY26125328 Bw50Aw9yCw4dCwEEAhUEAQ0JHnl1AAodBQtydwwDcn1xBAwF 生活好幫手
None SB91329189 V1xWVggFVgkdBQsABBUEVgsIHgFTBAodBg4AVQ4JVVkEBQlV 白蘭
None SB91356951 CwFUAVwHUA0dUVwBURUEA1pRHloAAg8dVQsHC1wGAQkBAlsI 白蘭
None SB91356951 CwFUAVwHUA0dUVwBURUEA1pRHloAAg8dVQsHC1wGAQkBAlsI 白蘭
None YL34752799 BHkGC3x0dQsdcA1yBhUEdQp2HnoBdgAdBnsIAg8FBXwBd3l0 DN
None SB91444600 CwlxAnl0CgEdBgEIchUEBQ0CHnoEdXsddggDcgxxBgEEdn4C 一匙靈整體
None SB91444600 CwlxAnl0CgEdBgEIchUEBQ0CHnoEdXsddggDcgxxBgEEdn4C 一匙靈整體
None SB91444600 CwlxAnl0CgEdBgEIchUEBQ0CHnoEdXsddggDcgxxBgEEdn4C 一匙靈整體
None SB91444600 CwlxAnl0CgEdBgEIchUEBQ0CHnoEdXsddggDcgxxBgEEdn4C 一匙靈整體
None TZ81814296 AA4GA14IAg4dAgsIVxUEBAAHHgFVCgAdAgpRVwwBVQFVBgwJ Persil
None TA95872777 AgwBBgl0Bw0dd3lyChUEdQ4CHnkGcAkdCgsCCgh0BX0AcAwE P&G-Ariel
None TA95872777 AgwBBgl0Bw0dd3lyChUEdQ4CHnkGcAkdCgsCCgh0BX0AcAwE P&G-Ariel
None TA97164104 BQoBCgwJUQ0dAFkFBxUEBgAAHgAAUAAdVl0CCgpRAA4FBg8E P&G-Ariel
None TA97164104 BQoBCgwJUQ0dAFkFBxUEBgAAHgAAUAAdVl0CCgpRAA4FBg8E P&G-Ariel
None TA97164104 BQoBCgwJUQ0dAFkFBxUEBgAAHgAAUAAdVl0CCgpRAA4FBg8E P&G-Ariel
None SU82491012 UQ4GV1oJA1sdAFxUARUEA15UHloBAQwdVgoEAAhUClkECw1S Persil
None TZ81852742 d34FdQtxBgkdcXtydxUEdwByHgEEcgwddn4BdXoBBg1xdw8I Persil
None TZ81852742 d34FdQtxBgkdcXtydxUEdwByHgEEcgwddn4BdXoBBg1xdw8I Persil
None TZ82390044 d30AAAx1CnsdA30CABUEcgkEHgABAQwddQgJBA10cA4IcX0B Persil
None TZ81805037 AwgAAwgAAwgdAwgAAxUAAwgAHggAAwgdAwgAAwgAAwgAAwgA Persil
None TZ81995082 BQ1SAg1SCwgdBF5RVRUEVwgBHgFVUFwdAA5RCgoBUFpRAwsE Persil
None VE81997263 cQEHd34IcQEdd34FCxUEBw0DHnoFBQgdBQ4Jd3oFCg0ACnl1 Persil
None SB91444600 CwlxAnl0CgEdBgEIchUEBQ0CHnoEdXsddggDcgxxBgEEdn4C DN
None SB91454196 CwlxAnl0CgEdBgEIchUEBQ0CHnoEdXsddggDcgxxBgEEdn4C 一匙靈整體
None XN36241882 Bg90cQ0DcnsdcQoABBUEcHsHHnkEcQwddnsFBAwHcQFydwwJ 橘子工坊
None YK44200613 Cw8IAQ4JBwEdAgwABhUEAXkCHnkDBnkddX0HcQ0JAgsGBw0C 橘子工坊
None XK37472155 ClwFUA4EA1wdCwpSAxUEAV4HHlpRVwwdUQ0JUg0GA10HVQgG 橘子工坊
None SB91467625 CgEABg0JB1kdAFwGAxUEC14AHgEAUl4dCwoGC1oHAglSAwBT 加倍潔
None SU81829530 B15VUl4IAFwdVQpUARUEB14BHgBWCgwdA1kCAwkJUlpRUgoB Persil
None SB91473721 UFpUV1kJVgAdBwpUABUEVV4EHgBRC10dC1kGBw8CVwAGC1wC 一匙靈整體
None XQ82315900  Persil
None SB91473721 UFpUV1kJVgAdBwpUABUEVV4EHgBRC10dC1kGBw8CVwAGC1wC 一匙靈整體
None SB91473721 UFpUV1kJVgAdBwpUABUEVV4EHgBRC10dC1kGBw8CVwAGC1wC 一匙靈整體
None SB91535085 BA8HdXt0C30dAgkEdhUEBnp2HnoFBAEdcHsDBQgABw5ycHsA 白鴿
None YA64687951 Bnt2cHwJcA4dAw8JdhUEAwl2HnlyAn0dcg0DA34BBgp1dgkD 清淨海
None SB91558811 cA8IdQ0HAg4dBwx0chUECwl1HgEHCgoddwkGCnx1dw0DBHwG 橘子工坊
None SB91558811 cA8IdQ0HAg4dBwx0chUECwl1HgEHCgoddwkGCnx1dw0DBHwG 橘子工坊
None SB91568580 BXp0dnoFAgEddQoFcBUEdnkJHnkGB34dcHxxBH11AghxBwsA 一匙靈整體
None SB91568580 BXp0dnoFAgEddQoFcBUEdnkJHnkGB34dcHxxBH11AghxBwsA 一匙靈整體
None WK82214521 AgsIdgoHcnodcg10dxUEcA9xHgAHd34ddQhzBwh0B3wHBgpx Persil
None WK82204275  Persil
None WK82186079 BQh1C3oHcX0dAHwCcBUEd3p1HgEAdgodBA4IBQFyAHx2dwFz Persil
None WK82186079 BQh1C3oHcX0dAHwCcBUEd3p1HgEAdgodBA4IBQFyAHx2dwFz Persil
None SB91578493 CgsEdQkEAH4dAQEAdhUEcAAIHnkFcH0dCgEJB3pzAXoEAn11 白蘭
None SB91605098 Cg4DdX5zdn0ddXt2AxUEBgwGHnoGB3sddg8GdnxzCwkFBwAE 一匙靈整體
None VQ65951822 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VQ65951754 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VT22414486 AX4EcA4HCnkdCgoDCxUEBwFzHgABAgsdAXl0dX4ICgBzd3sD P&G-Bold
None YA64703756 AA1zCgsEAn4dAn4IBRUEAAl2Hnp1AAgdcHpydgxxBXsEdgh0 清淨海
None TE99208883 Ag8CUloJBV4dAwAAChUEUVkEHgFUUAkdUQAJCgwIAQFWAwoG 小綠人
None VB13398862 cA8ECg1yBQgdcA10cRUEBQsJHnl0dX4dCgB1BnoJcnwABAAI P&G-Ariel
None TZ82333689 BXxyBAFyCw0dcQ8DABUEdQ9xHnoGdw8dCgEDcQl0BQF1cHt2 Persil
None VQ65951833 A1xUBV5UAQodBA8JChUEBwkCHgAFAgEdCgsGBwsGA11RClpV 清淨海
None VP12086961 BHkJBQBzBw0dAgwFdxUEAA92HgAGBgodAn4ABgl1Bg0Fd3t2 家樂福_PL
None VF02226610 cQ91AHkAdgsdBHoIBRUEcXt1HnlyAg8dcggHBHlxAg92BH5z P&G-Bold
None VQ65951822 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VQ65951754 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VT22414486 AX4EcA4HCnkdCgoDCxUEBwFzHgABAgsdAXl0dX4ICgBzd3sD P&G-Bold
None YA64703756 AA1zCgsEAn4dAn4IBRUEAAl2Hnp1AAgdcHpydgxxBXsEdgh0 清淨海
None TE99208883 Ag8CUloJBV4dAwAAChUEUVkEHgFUUAkdUQAJCgwIAQFWAwoG 小綠人
None VB13398862 cA8ECg1yBQgdcA10cRUEBQsJHnl0dX4dCgB1BnoJcnwABAAI P&G-Ariel
None TZ82333689 BXxyBAFyCw0dcQ8DABUEdQ9xHnoGdw8dCgEDcQl0BQF1cHt2 Persil
None VQ65951833 A1xUBV5UAQodBA8JChUEBwkCHgAFAgEdCgsGBwsGA11RClpV 清淨海
None VP12086961 BHkJBQBzBw0dAgwFdxUEAA92HgAGBgodAn4ABgl1Bg0Fd3t2 家樂福_PL
None VF02226610 cQ91AHkAdgsdBHoIBRUEcXt1HnlyAg8dcggHBHlxAg92BH5z P&G-Bold
None VQ65951822 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VQ65951754 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VT22414486 AX4EcA4HCnkdCgoDCxUEBwFzHgABAgsdAXl0dX4ICgBzd3sD P&G-Bold
2043-05-02 YA64703756 AA1zCgsEAn4dAn4IBRUEAAl2Hnp1AAgdcHpydgxxBXsEdgh0 清淨海
None TE99208883 Ag8CUloJBV4dAwAAChUEUVkEHgFUUAkdUQAJCgwIAQFWAwoG 小綠人
None VB13398862 cA8ECg1yBQgdcA10cRUEBQsJHnl0dX4dCgB1BnoJcnwABAAI P&G-Ariel
None TZ82333689 BXxyBAFyCw0dcQ8DABUEdQ9xHnoGdw8dCgEDcQl0BQF1cHt2 Persil
None VQ65951833 A1xUBV5UAQodBA8JChUEBwkCHgAFAgEdCgsGBwsGA11RClpV 清淨海
None VP12086961 BHkJBQBzBw0dAgwFdxUEAA92HgAGBgodAn4ABgl1Bg0Fd3t2 家樂福_PL
None VF02226610 cQ91AHkAdgsdBHoIBRUEcXt1HnlyAg8dcggHBHlxAg92BH5z P&G-Bold
None VQ65951822 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VQ65951754 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
None VT22414486 AX4EcA4HCnkdCgoDCxUEBwFzHgABAgsdAXl0dX4ICgBzd3sD P&G-Bold
None YA64703756 AA1zCgsEAn4dAn4IBRUEAAl2Hnp1AAgdcHpydgxxBXsEdgh0 清淨海
None TE99208883 Ag8CUloJBV4dAwAAChUEUVkEHgFUUAkdUQAJCgwIAQFWAwoG 小綠人
None VB13398862 cA8ECg1yBQgdcA10cRUEBQsJHnl0dX4dCgB1BnoJcnwABAAI P&G-Ariel
None TZ82333689 BXxyBAFyCw0dcQ8DABUEdQ9xHnoGdw8dCgEDcQl0BQF1cHt2 Persil
None VQ65951833 A1xUBV5UAQodBA8JChUEBwkCHgAFAgEdCgsGBwsGA11RClpV 清淨海
None VP12086961 BHkJBQBzBw0dAgwFdxUEAA92HgAGBgodAn4ABgl1Bg0Fd3t2 家樂福_PL
None VF02226610 cQ91AHkAdgsdBHoIBRUEcXt1HnlyAg8dcggHBHlxAg92BH5z P&G-Bold
2017-08-07 VQ65951822 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
2017-08-06 VQ65951754 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
2017-08-31 VT22414486 AX4EcA4HCnkdCgoDCxUEBwFzHgABAgsdAXl0dX4ICgBzd3sD P&G-Bold
2017-11-13 YA64703756 AA1zCgsEAn4dAn4IBRUEAAl2Hnp1AAgdcHpydgxxBXsEdgh0 清淨海
2017-04-01 TE99208883 Ag8CUloJBV4dAwAAChUEUVkEHgFUUAkdUQAJCgwIAQFWAwoG 小綠人
2017-08-04 VB13398862 cA8ECg1yBQgdcA10cRUEBQsJHnl0dX4dCgB1BnoJcnwABAAI P&G-Ariel
2017-06-08 TZ82333689 BXxyBAFyCw0dcQ8DABUEdQ9xHnoGdw8dCgEDcQl0BQF1cHt2 Persil
2017-08-08 VQ65951833 A1xUBV5UAQodBA8JChUEBwkCHgAFAgEdCgsGBwsGA11RClpV 清淨海
2017-07-22 VP12086961 BHkJBQBzBw0dAgwFdxUEAA92HgAGBgodAn4ABgl1Bg0Fd3t2 家樂福_PL
2017-07-18 VF02226610 cQ91AHkAdgsdBHoIBRUEcXt1HnlyAg8dcggHBHlxAg92BH5z P&G-Bold
2017-08-07 VQ65951822 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
2017-08-06 VQ65951754 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海
2017-08-31 VT22414486 AX4EcA4HCnkdCgoDCxUEBwFzHgABAgsdAXl0dX4ICgBzd3sD P&G-Bold
2017-11-13 YA64703756 AA1zCgsEAn4dAn4IBRUEAAl2Hnp1AAgdcHpydgxxBXsEdgh0 清淨海
2017-04-01 TE99208883 Ag8CUloJBV4dAwAAChUEUVkEHgFUUAkdUQAJCgwIAQFWAwoG 小綠人
2017-08-04 VB13398862 cA8ECg1yBQgdcA10cRUEBQsJHnl0dX4dCgB1BnoJcnwABAAI P&G-Ariel
2017-06-08 TZ82333689 BXxyBAFyCw0dcQ8DABUEdQ9xHnoGdw8dCgEDcQl0BQF1cHt2 Persil
2017-08-08 VQ65951833 A1xUBV5UAQodBA8JChUEBwkCHgAFAgEdCgsGBwsGA11RClpV 清淨海
2017-07-22 VP12086961 BHkJBQBzBw0dAgwFdxUEAA92HgAGBgodAn4ABgl1Bg0Fd3t2 家樂福_PL
2017-07-18 VF02226610 cQ91AHkAdgsdBHoIBRUEcXt1HnlyAg8dcggHBHlxAg92BH5z P&G-Bold

In [13]:
# 在某一個DB創一個新的table

import MySQLdb
import pandas as pd
import xlrd
from datetime import datetime

conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
                     user="root",         # your username
                     passwd="",           # your password
                     db="inv_test_db",    # name of the data base         
                     use_unicode=True, 
                     charset="utf8")


cur = conn.cursor()

# 如果数据表已经存在使用 execute() 方法删除表。
cur.execute("DROP TABLE IF EXISTS inv_table")


# create table & columns & datatype of each column
'''
要特別注意 : 
1. 欄位名稱不能包含特殊字元，包括括號 ex. 通路類型(客戶用) -> 這樣就不行
2. """CREATE TABLE inv_table (
      欄位名稱 欄位type(有的有參數)
      );"""   ------------------------------------------> 要記得小括號後面那個結尾的分號
'''

sql = """CREATE TABLE inv_table (
         invDate DATE ,
         品類 VARCHAR(10),
         通路 VARCHAR(10),  
         YFY經銷 VARCHAR(10),
         通路類型_客戶用 VARCHAR(10),
         處理與否 INT,
         總容量 INT,
         正確價錢 INT,
         invNum VARCHAR(15),
         xdid VARCHAR(60),
         品牌 VARCHAR(10),
         系列_一匙靈專用 VARCHAR(10),
         價位帶 VARCHAR(5),
         天然 VARCHAR(10),
         SKU VARCHAR(100)
         );"""
cur.execute(sql)

# conn.commit()
# cur.close()
# conn.close()
#---------------------------------------------------------------------------------------------------------------




# conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
#                      user="root",         # your username
#                      passwd="",           # your password
#                      db="inv_test_db",    # name of the data base         
#                      use_unicode=True, 
#                      charset="utf8")

# # you must create a Cursor object. It will let
# #  you execute all the queries you need
# cur = conn.cursor()

# --------------------------------------------------------------------------- 

book = xlrd.open_workbook("C:/Users/johnson_huang.EOL/Desktop/12345678910.xlsx")
sheet = book.sheet_by_name("工作表1")


query = """INSERT INTO inv_table (invDate, 品類, 通路, YFY經銷, 通路類型_客戶用, 處理與否, 總容量, 正確價錢, invNum, xdid, 
                                品牌, 系列_一匙靈專用, 價位帶, 天然, SKU) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s
        , %s, %s, %s, %s, %s);"""

# a1 = sh.cell_value(rowx=0, colx=0)
# a1_as_datetime = datetime.datetime(*xlrd.xldate_as_tuple(a1, book.datemode))

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
    invDate = datetime(*xlrd.xldate_as_tuple(sheet.cell(r,4).value, book.datemode)) 
    品類 = sheet.cell(r,29).value
    通路 = sheet.cell(r,20).value
    YFY經銷 = sheet.cell(r,24).value
    通路類型_客戶用 = sheet.cell(r,23).value
    
    處理與否 = sheet.cell(r,8).value
    總容量 = sheet.cell(r,39).value
    正確價錢 = sheet.cell(r,7).value
    invNum = sheet.cell(r,2).value
    xdid = sheet.cell(r,3).value
    
    品牌 = sheet.cell(r,30).value
    系列_一匙靈專用 = sheet.cell(r,32).value
    價位帶 = sheet.cell(r,41).value
    天然 = sheet.cell(r,42).value
    SKU = sheet.cell(r,40).value
  
#   SET `col2` = IF(CHAR_LENGTH(TRIM(@col2)) = 0, NULL, @col2);

    # Assign values from each row
    values = (invDate, 品類, 通路, YFY經銷, 通路類型_客戶用,   處理與否, 總容量, 正確價錢, invNum, xdid, 
              品牌, 系列_一匙靈專用, 價位帶, 天然, SKU)

    # Execute sql Query
    cur.execute(query, values)




conn.commit()    


cur.execute("SELECT * FROM inv_table") 

result = cur.fetchall()
# 看有幾欄就到row幾
for row in result:
    print(row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14])


cur.close()
conn.close()

2017-08-07 DN 太平洋SOGO 5.其他非經銷 其他 1 15 3012 VQ65951822 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海  42 0
2017-08-06 DN 太平洋SOGO 5.其他非經銷 其他 1 15 2766 VQ65951754 Cw0GdgwCAnwddXxzARUEd30BHgAAdnsdAn50AnlydX4CAgsB 清淨海  42 0
2017-08-31 膠囊 新光三越 5.其他非經銷 其他 1 352 220 VT22414486 AX4EcA4HCnkdCgoDCxUEBwFzHgABAgsdAXl0dX4ICgBzd3sD P&G-Bold 膠囊 高價位 0 P&G-Bold膠囊_白金白葉_18's_352g
2017-11-13 DN 太平洋SOGO 5.其他非經銷 其他 1 15 1697 YA64703756 AA1zCgsEAn4dAn4IBRUEAAl2Hnp1AAgdcHpydgxxBXsEdgh0 清淨海  42 0
2017-04-01 洗衣精 牛車園超市 1.經銷-超市(整體 超市(無PX) 1 0 0 TE99208883 Ag8CUloJBV4dAwAAChUEUVkEHgFUUAkdUQAJCgwIAQFWAwoG 小綠人  低價位 天然
2017-08-04 膠囊 大潤發 5.其他非經銷 量販(無C) 1 437 199 VB13398862 cA8ECg1yBQgdcA10cRUEBQsJHnl0dX4dCgB1BnoJcnwABAAI P&G-Ariel 膠囊 高價位 0 P&G-Ariel膠囊_24h除臭洗衣果凍球-消臭(綠)_18's_437g
2017-06-08 洗衣精 大樂購物中心 5.其他非經銷 量販(無C) 1 15 1198 TZ82333689 BXxyBAFyCw0dcQ8DABUEdQ9xHnoGdw8dCgEDcQl0BQF1cHt2 Persil 洗衣精 高價位 0 Persil洗衣精_護色增艷(藍)__3375ml
2017-08-08 DN 太平洋SOGO 5.其他非經銷 其他 1 15 1169 VQ65951833 A1xUBV5UAQodBA8JChUEBwkCHgAFAgEdCgsGBwsGA11RClpV 清淨海  42 0
2017-07-22 膠囊 家樂福 5.其他非經銷 量販(無C) 1 700 180 VP12086961 BHkJBQBzBw0dAgwFdxUEAA92HgAGBgodAn4ABgl1Bg0Fd3t2 家樂福_PL  低價位 0
2017-07-18 膠囊 屈臣氏 5.其他非經銷 個人用品店 1 352 158 VF02226610 cQ91AHkAdgsdBHoIBRUEcXt1HnlyAg8dcggHBHlxAg92BH5z P&G-Bold 膠囊 高價位 0 P&G-Bold膠囊_白金牡丹_10's_196g

C:\Users\johnson_huang.EOL\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:110: Warning: (1265, "Data truncated for column 'YFY經銷' at row 1")

In [ ]:
# 在某一個DB創一個新的table

import MySQLdb
import pandas as pd
import xlrd
from datetime import datetime

conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
                     user="root",         # your username
                     passwd="",           # your password
                     db="inv_test_db",    # name of the data base         
                     use_unicode=True, 
                     charset="utf8")


cur = conn.cursor()

# 如果数据表已经存在使用 execute() 方法删除表。
cur.execute("DROP TABLE IF EXISTS inv_table")


# create table & columns & datatype of each column
'''
要特別注意 : 
1. 欄位名稱不能包含特殊字元，包括括號 ex. 通路類型(客戶用) -> 這樣就不行
2. """CREATE TABLE inv_table (
      欄位名稱 欄位type(有的有參數)
      );"""   ------------------------------------------> 要記得小括號後面那個結尾的分號
'''

sql = """CREATE TABLE inv_table (
         invDate DATE ,
         品類 VARCHAR(10),
         通路 VARCHAR(10),  
         YFY經銷 VARCHAR(10),
         通路類型_客戶用 VARCHAR(10),
         處理與否 INT,
         總容量 INT,
         正確價錢 INT,
         invNum VARCHAR(15),
         xdid VARCHAR(60),
         品牌 VARCHAR(10),
         系列_一匙靈專用 VARCHAR(10),
         價位帶 VARCHAR(5),
         天然 VARCHAR(10),
         SKU VARCHAR(100)
         );"""
cur.execute(sql)

# conn.commit()
# cur.close()
# conn.close()
#---------------------------------------------------------------------------------------------------------------




# conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
#                      user="root",         # your username
#                      passwd="",           # your password
#                      db="inv_test_db",    # name of the data base         
#                      use_unicode=True, 
#                      charset="utf8")

# # you must create a Cursor object. It will let
# #  you execute all the queries you need
# cur = conn.cursor()

# --------------------------------------------------------------------------- 

book = xlrd.open_workbook("C:/Users/johnson_huang.EOL/Desktop/12345678910.xlsx")
sheet = book.sheet_by_name("工作表1")


query = """INSERT INTO inv_table (invDate, 品類, 通路, YFY經銷, 通路類型_客戶用, 處理與否, 總容量, 正確價錢, invNum, xdid, 
                                品牌, 系列_一匙靈專用, 價位帶, 天然, SKU) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s
        , %s, %s, %s, %s, %s);"""

# a1 = sh.cell_value(rowx=0, colx=0)
# a1_as_datetime = datetime.datetime(*xlrd.xldate_as_tuple(a1, book.datemode))

# Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
for r in range(1, sheet.nrows):
    if 
    invDate = datetime(*xlrd.xldate_as_tuple(sheet.cell(r,4).value, book.datemode)) 
    品類 = sheet.cell(r,29).value
    通路 = sheet.cell(r,20).value
    YFY經銷 = sheet.cell(r,24).value
    通路類型_客戶用 = sheet.cell(r,23).value
    
    處理與否 = sheet.cell(r,8).value
    總容量 = sheet.cell(r,39).value
    正確價錢 = sheet.cell(r,7).value
    invNum = sheet.cell(r,2).value
    xdid = sheet.cell(r,3).value
    
    品牌 = sheet.cell(r,30).value
    系列_一匙靈專用 = sheet.cell(r,32).value
    價位帶 = sheet.cell(r,41).value
    天然 = sheet.cell(r,42).value
    SKU = sheet.cell(r,40).value
  
#   SET `col2` = IF(CHAR_LENGTH(TRIM(@col2)) = 0, NULL, @col2);

    # Assign values from each row
    values = (invDate, 品類, 通路, YFY經銷, 通路類型_客戶用,   處理與否, 總容量, 正確價錢, invNum, xdid, 
              品牌, 系列_一匙靈專用, 價位帶, 天然, SKU)

    # Execute sql Query
    cur.execute(query, values)




conn.commit()    


cur.execute("SELECT * FROM inv_table") 

result = cur.fetchall()
# 看有幾欄就到row幾
for row in result:
    print(row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14])


cur.close()
conn.close()

In [ ]:
# # 在某一個DB創一個新的table

# import MySQLdb


# conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
#                      user="root",         # your username
#                      passwd="",           # your password
#                      db="inv_test_db",    # name of the data base         
#                      use_unicode=True, 
#                      charset="utf8")


# cur = conn.cursor()

# # 如果数据表已经存在使用 execute() 方法删除表。
# cur.execute("DROP TABLE IF EXISTS inv_table")

# # create table & columns & datatype of each column
# sql = """CREATE TABLE inv_table (
#          invDate  DATE ,
#          品類  VARCHAR(10),
#          通路 VARCHAR(10),  
#          YFY經銷 VARCHAR(10),
#          通路類型(客戶用) VARCHAR(10),
#          處理與否 INT,
#          總容量 INT,
#          正確價錢 INT,
#          invNum VARCHAR(15),
#          xdid VARCHAR(60),
#          品牌 VARCHAR(10),
#          系列(一匙靈專用) VARCHAR(10),
#          價位帶 VARCHAR(5),
#          天然 VARCHAR(10),
#          SKU VARCHAR(100),
#          )"""

# cur.execute(sql)


# db.close()



# # #---------------------------------------------------------------------------------------------------------------

# # import MySQLdb
# # import pandas as pd
# # import xlrd
# # from datetime import datetime


# # conn = MySQLdb.connect(host="127.0.0.1",    # your host, usually localhost
# #                      user="root",         # your username
# #                      passwd="",           # your password
# #                      db="inv_test_db",    # name of the data base         
# #                      use_unicode=True, 
# #                      charset="utf8")


# # # you must create a Cursor object. It will let
# # #  you execute all the queries you need
# # cur = conn.cursor()

    
# # # --------------------------------------------------------------------------- 

# # book = xlrd.open_workbook("C:/Users/johnson_huang.EOL/Desktop/123456789.xlsx")
# # sheet = book.sheet_by_name("工作表1")



# # query = """INSERT INTO table_3 (invDate, 品類, 通路, YFY經銷, 通路類型(客戶用), 處理與否, 總容量, 正確價錢, invNum, xdid, 
# #                                 品牌, 系列(一匙靈專用), 天然, SKU) 
# #         VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s
# #         , %s, %s, %s, %s);"""

# # # a1 = sh.cell_value(rowx=0, colx=0)
# # # a1_as_datetime = datetime.datetime(*xlrd.xldate_as_tuple(a1, book.datemode))

# # # Create a For loop to iterate through each row in the XLS file, starting at row 2 to skip the headers
# # for r in range(1, sheet.nrows):
# #     invDate= datetime(*xlrd.xldate_as_tuple(sheet.cell(r,4).value, book.datemode)) 
# #     invNum= sheet.cell(r,2).value
# #     xdid= sheet.cell(r,3).value
# #     品牌= sheet.cell(r,30).value
# #     SKU= sheet.cell(r,40).value
    
# #     品類= sheet.cell(r,29).value
# #     通路= sheet.cell(r,20).value
# #     YFY經銷= sheet.cell(r,24).value
# #     通路類型_客戶用= sheet.cell(r,23).value
# #     處理與否= sheet.cell(r,8).value
   
# #     總容量= sheet.cell(r,39).value
# #     正確價錢= sheet.cell(r,7).value
# #     系列_一匙靈專用= sheet.cell(r,32).value
# #     天然= sheet.cell(r,42).value
  


# #     # Assign values from each row
# #     values = (invDate, invNum, xdid, 品牌, SKU,   品類, 通路, YFY經銷, 通路類型_客戶用, 處理與否,   總容量, 正確價錢, 系列_一匙靈專用, 天然)

# #     # Execute sql Query
# #     cur.execute(query, values)




# # conn.commit()    


# # cur.execute("SELECT * FROM table_2") 

# # result = cur.fetchall()
# # # 看有幾欄就到row幾
# # for row in result:
# #     print(row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13])


# # cur.close()
# # conn.close()